div#floating-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    background: #111;
    bottom: 19px;
    right: 5px;
    z-index: 99;
    display: inline-flex;
    justify-content: center;
    user-select: none;
}

div#floating-btn span{
font-size: 40px;
    color: white;
    position: relative;
    top: -10px;
    left: 1px;
}